.footer {
    position: relative; 
    z-index: 4; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,15,77,1) 38%, rgba(120,12,131,1) 100%); 
    width: 100%;
      text-align: center;
      padding: 20px;
  }