    <div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
        <div class="row">
            <div>
                <h1>Acerca de mi</h1>
            </div>
            <div>

                <p>Soy una persona proactiva y autodidacta. Me desempeño con mucha fluidez cuando se trata de tareas que impliquen optimización, automatización y mejora de procesos. También me descato en áreas que impliquen creatividad e imaginación.
                Descubrí una gran pasión en el mundo tecnológico desde el primer momento, trabajando en mis comienzos con pequeños proyectos propios.     
                </p>
            </div>
    </div>
    </div>