.row {
    width: 100%;
    opacity: 0.9;
    margin: 25px;
    background-color: rgba(143, 23, 123, 0.733);
    color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    }
    
    svg {
       float: right;
       margin-top: -40px;
       
   }