div.row {
 
    width: 100%;
    opacity: 0.9;
    margin: 25px;
    background-color: rgba(177, 67, 27, 0.733);
    color: white;
    border-radius: 20px;
    }
  
    ul.items {
      margin: 10px;
    }
  