<div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
    <div class="row">
        <div>
            <h1>Hard & Soft Skills</h1>
        </div>            
            <div class="circle html">
                <div class="circle-inner">
                    HTML5
                </div>
            </div>
            <div class="circle css">
                <div class="circle-inner">
                    CSS3
                </div>
            </div>
            <div class="circle git">
                <div class="circle-inner">
                    GIT
                </div>
            </div>
            <div class="circle bootstrap">
                <div class="circle-inner">
                    BOOTSTRAP 
                </div>
            </div>
            <div class="circle javascript">
                <div class="circle-inner">
                    JAVASCRIPT
                </div>
            </div>
            <div class="circle java">
                <div class="circle-inner">
                    JAVA
                </div>
            </div>
            <div class="circle angular">
                <div class="circle-inner">
                    ANGULAR
                </div>
            </div>
            <div class="circle mysql">
                <div class="circle-inner">
                    MYSQL
                </div>
            </div>
            <div class="circle react">
                <div class="circle-inner">
                    REACT JS
                </div>
            </div>
 
 
 
        