<div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
    <div class="row">
        <div>
            <h1>Educación</h1>
        </div>
        <div>
           <ul class="items">
            <h6>TELECOM ARGENTINA</h6>
            <p>Curso completo de desarrollo web Front-End con:</p>
            <li>Html5</li>
            <li>Css3</li>
            <li>Bootstrap</li>
            <li>Maquetación Web</li>
            <li>Javascript</li>
            <li>Paradigma POO</li>
            <li>GIT</li>
            <li>React JS</li>
<br>
            <h6>ARGENTINA PROGRAM</h6>
            <p>Full Stack Developer Jr. con:</p>
            <li>Html5</li>
            <li>Css3</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>Java</li>
            <li>Angular</li>
            <li>MySql</li>
           </ul>
            
        </div>
    </div>
</div>