<div class="contenedor container">
    <div class="card">
        <div class="card-header">
            <h1>Acerca de mi</h1>
        </div>
        <div class="card-body">
            <p>Soy una persona proactiva y autodidacta. Me desempeño con mucha fluidez cuando se trata de tareas que impliquen optimización, automatización y mejora de procesos. También me descato en áreas que impliquen creatividad e imaginación.
            Descubrí una gran pasión en el mundo tecnológico desde el primer momento, trabajando en mis comienzos con pequeños proyectos propios.     
            </p>
        </div>
    </div>
</div>
<div class="contenedor container">
    <div class="card">
        <div class="card-header">
            <h1>Experiencia</h1>
        </div>
        <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio atque autem vero commodi amet numquam quidem odit, sunt expedita vel modi reprehenderit pariatur reiciendis necessitatibus molestias dignissimos corrupti in blanditiis!</p>
        </div>
    </div>
</div>
<div class="contenedor container">
    <div class="card">
        <div class="card-header">
            <h1> Educación</h1>
        </div>
        <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio atque autem vero commodi amet numquam quidem odit, sunt expedita vel modi reprehenderit pariatur reiciendis necessitatibus molestias dignissimos corrupti in blanditiis!</p>
        </div>
    </div>
</div>
<div class="contenedor container">
    <div class="card">
        <div class="card-header">
            <h1>Habilidades</h1>
        </div>
        <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio atque autem vero commodi amet numquam quidem odit, sunt expedita vel modi reprehenderit pariatur reiciendis necessitatibus molestias dignissimos corrupti in blanditiis!</p>
        </div>
    </div>
</div>
<div class="contenedor container">
    <div class="card">
        <div class="card-header">
            <h1>Proyectos</h1>
        </div>
        <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio atque autem vero commodi amet numquam quidem odit, sunt expedita vel modi reprehenderit pariatur reiciendis necessitatibus molestias dignissimos corrupti in blanditiis!</p>
        </div>
    </div>
</div>