<div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
    <div class="row">
        <div>
            <h1>Experiencia Laboral</h1>
        </div>
        <div>
    <ul class="items">
         <h6>HG SEGURIDAD INDUSTRIAL SRL</h6>
         <p> Diciembre 2020 - Actualidad</p>
        <li>Mantenimiento y organización de archivos</li>
        <li>Facturación</li>
        <li>Actualización de las listas de correo y de contacto de la empresa</li>
        <li>Mantenimiento de catálogo y stock e-commerce</li>
        <li>Actualicación regular del sitio web de la empresa y de las distintas cuentas en redes sociales</li> 
<br>
        <h6>TRADUCCIONES FREELANCE</h6>
        <p> Octubre 2017 - Noviembre 2020</p>
       <li>Trabajos de traducción ingles-español</li>
       <li>Especialización en traducción audiovisual</li>
       <li>Manejo de herramientas de traducción: MemoQ , SDLTrados</li>
<br>

       <h6>WOLO HOSTEL RIO</h6>
       <p> Enero 2017- Julio 2017</p>
      <li>Recepción bilingüe (portugués - español)</li>
      <li>Check-in y check-out de huéspedes</li>
      <li>Cotizaciones telefónicas</li>
      <li>Venta de excursiones y paseos ofrecidos por el hostel</li>        
    </ul>

     </div>
</div>
</div>
