        
                <div class="card-header">
                    <h2> Belén Alvarez Gardiol</h2>
                </div>
                <div class="pie-foto">
                 <div class="col-lg-11">
                    <h6>Desarrolladora Fullstack Junior</h6>
                    <h6>Rosario, Argentina</h6>
                    <a href="mailto:belenalvarezgardiol@gmail.com">Información de contacto</a>
             
                    <div>
                        <button type="button" class="btn btn-primary" type="button" value="Input">Tengo interés en</button>
                        <button type="button" class="btn btn-outline-secondary">Añadir sección</button>
                        <button type="button" class="btn btn-outline-secondary">Más</button>
                    </div>
                </div>
                 
