<div class="row">
    <img class="banner" src="assets/image/44.jpg">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       
        <img class="img-fluid" src="assets/image/cv2.jpg">
        </div>
        <div class="card1">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
           
                <div class="card-header">
                    <h2> Belén Alvarez Gardiol</h2>
                </div>
                <div class="card-body">
                    <h6>Desarrolladora Fullstack Junior</h6>
                    <h6>Rosario, Argentina</h6>
                    <a href="mailto:belenalvarezgardiol@gmail.com">Información de contacto</a>
                    
                    <div>
                        <button type="button" class="btn btn-primary" type="button" value="Input">Tengo interés en</button>
                        <button type="button" class="btn btn-outline-secondary">Añadir sección</button>
                        <button type="button" class="btn btn-outline-secondary">Más</button>
                    </div>
                 
                </div>
            </div>
        </div>
    
    </div>

 

