
<img class="banner" src="assets/image/44.jpg" width="100%" height="100%"/>
<img class="perfil" src="assets/image/cv2.jpg">
<div class="contenedor container">
    <div class="card1">
        <div class="card-header">
            <h1> Belén Alvarez Gardiol</h1>
        </div>
        <div class="card-body">
            <h6>Desarrolladora Fullstack</h6>
            <h6>Rosario, Argentina</h6>
            <a href="mailto:belenalvarezgardiol@gmail.com">Información de contacto</a>
            <div>
                <button type="button" class="btn btn-primary" type="button" value="Input">Tengo interés en</button>
                <button type="button" class="btn btn-outline-secondary">Añadir sección</button>
                <button type="button" class="btn btn-outline-secondary">Más</button>
            </div>
         
        </div>
    </div>
</div>
